body {
  margin: 0;
}
h1,
h2 {
  font-weight: normal;
}
h4 {
  margin:0;
}

a {
  text-decoration: none;
}
p {
  margin:0;
}
*,
:after,
:before {
  box-sizing: border-box;
}

pre {
  font-family: "Fira Code Medium", Consolas, monospace;
}

button,input {
  overflow: visible;
}
