body {
  margin: 0;
}
h1,
h2 {
  font-weight: normal;
}

a {
  text-decoration: none;
}
*,
:after,
:before {
  box-sizing: border-box;
}

pre {
  font-family: "Fira Code Medium", Consolas, monospace;
}
